[Unit]
Description=GH Summariser App
After=network.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=/home/projects/GH_summariser
Environment="PATH=/home/projects/GH_summariser/.venv/bin:/usr/local/bin:/usr/bin"
Environment="APP_ENV=prod"
ExecStart=/home/projects/GH_summariser/.venv/bin/python -m api.main --port 8001
Restart=on-failure
RestartSec=5

# Give it time to start/stop
TimeoutStartSec=60
TimeoutStopSec=30

# Use clean termination
KillMode=mixed
KillSignal=SIGTERM


[Install]
WantedBy=multi-user.target
